<div class="widget style1 navy-bg">
    <div class="row">
        <div class="col-xs-4">
            <i class="fa fa-{{ item.getSkySymbol }} fa-5x"></i>
        </div>
        <div class="col-xs-8 text-right">
            <span>{{ item.getDate|date("Y-m-d") }}</span>
            <h2 class="font-bold">{{ item.getDayTemp }}'C</h2>
        </div>
    </div>
</div>
